
  .form {
    position: absolute;
    top: 150px;
    left: 400px;
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.24);
  
  }
  .formField {
    height: 58px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 4px;
    margin: 10px 0;
  }
  
  .formField input {
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    border: 0.5px solid;
    text-align: center;
  }
  .formField input:hover {
    border: 1px solid green;
  }
  
  .formField label {
    font-weight: 600;
    font-size: 13px;
    color: white;
  }
  
  .signupHeader {
    position: absolute;
    top: 160px;
    left: 555px;
    width: 200px;
    padding: 2px 8px;
    border-radius: 5px;
    z-index: 6;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
  
  .redirectText {
    font-size: 12px;
    font-weight: 250;
    position: absolute;
    top: 350px;
    left: 130px;
    height: 1px;
    color: whitesmoke;
    margin-top: 5px;
  }

  .redirectText span {
    color: rgb(217, 233, 129);;
    font-weight: 400;
    padding: 3px;
    cursor: pointer;
  }
  
  .button {
    position:absolute;
    left: 200px;
    top: 380px;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: 600;
    font-size: 14px;
    border-style: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: blue;
  }
  .button:hover {
    background-color: green;
    color: white;
  }
  
  .signupIcon {
   position:absolute;
   left: 2px;
    top: 3px;
    z-index: 5;
    padding: 6px;
    /* color: blue; */
  }
  .signupText {
    margin: 0 5px;
    padding: 10px;
    top: -4px;
    left: 6px;
    width: 80px;
    position:absolute;
  }

  @media screen and (max-width: 280px) {
    .form {
        position: absolute;
        top: 150px;
        left: 11%;
        height: 420px;
        width: 220px;
      }

      .formField {
        position: relative;
        width: 210px;
      }
      .formField label {
        font-weight: 700;
      }

      .redirectText {
        position: inherit;
        top: 320px;
        left: 15%;
      }
    
      .button {
        left: 30%;
        top: 355px;
      }

      .signupHeader {
        position: absolute;
        top: 160px;
        left: 30%;
        width: 200px;
        font-size: 28px;
      }
  }
  @media screen and (min-width: 281px) and (max-width: 760px) {
    .form {
        position: absolute;
        top: 150px;
        left: 10%;
        height: 420px;
        width: 300px;
      }

      .formField {
        position: relative;
        width: 250px;
      }

      .redirectText {
        position: inherit;
        top: 340px;
        left: 18%;
      }
    
      .button {
        left: 30%;
        top: 365px;
      }

      .signupHeader {
        position: absolute;
        top: 160px;
        left: 37%;
        width: 200px;
        font-size: 28px;
      }
  }
  @media screen and (min-width: 761px) and (max-width: 1000px) {
    .form {
        position: absolute;
        top: 150px;
        left: 24%;
      }

      .signupHeader {
        position: absolute;
        top: 180px;
        left: 40%;
      }
  }
  @media screen and (min-width: 1001px) and (max-width: 1115px) {
    .form {
        position: absolute;
        top: 150px;
        left: 25%;
      }

      .signupHeader {
        position: absolute;
        top: 180px;
        left: 40%;
      }
  }